.title {
    color: var(--black);
    font-size: 20px;
    text-align: center;
    margin-top: 6rem;

}

.experience-con {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    height: 300px;

}

.experience {
    padding: 20px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background: #ffffff;
    text-align: center;
    position: relative;
}

.experience::before {
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(270deg, #f088d1 0%, #e726ad 100%);
    top: -8px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    position: absolute;
    z-index: -1;

}

.experience>h2 {
    margin-bottom: 0;
}

.percentage {
    font-size: 20px;
    color: #788097;
    margin-top: 0px;
}

@media only screen and (max-width: 790px) {
    .experience {
        padding: 6px;
        border-radius: 100px;
        width: 78px;
        height: 78px;
        background: #ffffff;
        text-align: center;
        position: relative;
    }
    .experience::before {
        border-radius: 100%;
        content: '';
        background-image: linear-gradient(270deg, #f088d1 0%, #e726ad 100%);
        top: -6px;
        left: -6px;
        right: -6px;
        bottom: -6px;
        position: absolute;
        z-index: -1;
    
    }
    .experience>h2 {
        font-size: .9rem;
    }
}