.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    align-items: center;
    height: 70vh;
    margin-top: 4rem;
    text-align: end;
}
.left-side{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.left-side>:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
   margin-left: 20px;
}
.left-side>:nth-child(2){
    color: var(--black);
    font-size: 20px;
    font-weight: thin;
   margin-left: 20px;
}
.contact-icons{
    margin-top: 10px;
    margin-left: 20px ;
    display: flex;
    /* width: 20px; */
    font-size: 16px;
    gap: 20px;
    /* padding-top: 60px; */
}
.c-icon{
    font-size: 30px;
    color: #e726ad;
}
.right-side{
    display: flex;
    justify-content: start;
    position: relative;
    flex: 1;
}
.right-side>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.right-side .user{
    width: 25rem;
    height: 2rem;
    padding: 0.3em;
    padding-left: 10px;
    outline: none;
    border: 2px solid var(--darkPink);
    border-radius: 8px;
    font-size: 16;
}
textarea{
    height: 5rem!important;
}

/* ------------breakpoint-------------- */

@media only screen and (max-width: 913px) {
    .contact-form{
        margin-top: 0rem;
        margin-bottom: 60px;
        padding: 0 10px;
        display: flex;
        height: 70vh;
       flex-direction: column;
    }
    .left-side{
    margin: 60px 0 20px 0;
    }
    .right-side .user{
        width: 18rem;
    }
}
