.footer-container {
    
    padding: 10px;
    background-color: #e726ad;
    color: white;
    text-align: start;
    position: relative;
    border-top-right-radius: 50% 30%;
    border-top-left-radius: 50% 30%;
    /* z-index: 111; */
}
.footer-container::after {
    /* content: '';
    background-color: #e726ad;
    border-top-right-radius: 50% 100%;
    border-top-left-radius: 50% 100%;
    bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -111;
     */

}
/* .footer-container::before {
    content: '';
    background-color: #e726ad;
    border-bottom-right-radius: 50% 100%;
    border-bottom-left-radius: 50% 100%;
    bottom: 0;
    position: absolute;
    height: 85%;
    width: 100%;
} */

.footer-container>h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-info {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 , 20px;
}
.hr-container{
    display: flex;
    justify-content: center;
}

.hr {
    margin-top: 20px;
    width: 30%;
    border-top: 1px solid rgb(215, 215, 215);
}
.footer-icon {
    text-align: center;
    height: 20px;
}
.footer-icon>span{
  font-size: 18px;
  transition-timing-function: ease-in ;
  transition-duration: 0.3s;
  padding-left: 10px;
}
.footer-icon span:hover{
   font-size: 25px;
    
}
.footer-icon span>a {
    color: white ;
    width: 30px;
}
.copy-right{
    text-align: center;
}

/* ------------breakpoint-------------- */

@media only screen and (max-width: 790px) {
    .footer-info p {
        padding: 0px 20px;
        text-align: center;
    }
    } 