.toggle{
    display: flex;
    justify-content: space-between;
    border: 2px solid #e726ad;
    padding: 2px 3px;
    border-radius: 20px;
    color: #e726ad;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
}
.toggle *{
    width: 1rem;
    height: 1rem;
    color: var(--darkPink);
    /* margin: 0 2px ; */
}
.t-button{
    border-radius: 100%;
    background: var(--darkPink);
    position: absolute;
    
}

@media only screen and (max-width: 790px) {
    .toggle{
        width: 35px;
        position: absolute;
        bottom: 52px;
        left: 197px;
    }
}
